.layout {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tile-button {
  padding: 10px;
  
}

.tile-button-disabled {
  background-color: red;
}

.tile-button-enabled {
  background-color: lightgreen;
}